{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "src/libs/sddl/consts.ts",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
